<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <style>
            div.hidden {
                display: none;
            }
        </style>

        <!-- colyseus.js client -->
        <script type="text/javascript" src="https://unpkg.com/colyseus.js@^0.14.0/dist/colyseus.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column m-2">
            <h1 class="d-flex justify-content-center m-2"><a href="/lobby">Pandemic</a></h1>

            <h3 class="text-center mb-4" id="sessionIdHolder">ID:</h3>

            <div class="text-center" id="waiting_message">
                <h4>Waiting for Game to Start</h4>
            </div>

            <div class="d-none text-center"  id="initial_status_section">
                <h2>YOU ARE</h2>
                <h2 id="initial_status">INFECTED</h2>
                <button type="button" class="btn btn-primary" onclick="hide_initial_status()">OK</button>
            </div>

            <div class="d-none d-flex flex-column m-2 text-center" id="main">
                <div class="text-center" id="qrcode">
                    QR CODE HERE
                </div>
                or
                <div id="manual_entry" class="mb-2">
                    <input type="text" id="qr_entry">
                    <button type="button" class="btn btn-secondary" onclick="interact()">Touch</button>
                </div>
                <div class="row m-auto">
                    <div class="col">
                        <label class="row"><b>Status Rooms</b></label>
                        <label class="row justify-content-md-center">Click to enter/exit</label>
                        <div id="status-rooms" class="btn-group">
                            <button type="button" class="btn btn-secondary m-auto" id="status-button" onclick="checkstatus(0)">0</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary m-auto col" onclick="vaccine()" >Use Vaccine</button>
                </div>
            </div>
            
            >Messages:
            <div id="messages"></div>
        </div>
        

        <script>
            var host = window.document.location.host.replace(/:.*/, '');
            var client = new Colyseus.Client(location.protocol.replace("http", "ws") + "//" + host + (location.port ? ':' + location.port : ''));
            
            var lobby;
            var room;

            var sessionId;
            var player_name;
            var roomId;

            var inStatusRoom = false;

            function checkstatus(room_num) {
                if(!inStatusRoom)
                    room.send("checkStatus", {room: room_num}); //what status room you are in
                else
                    room.send("checkStatus", {action: "leave"}) //if you are in a room, then leave the room
            }

            function vaccine() {
                var c = confirm ("This will consume 1 vaccine, regardless if you are infected or not");
                console.log(c);
                room.send("vaccine",);
            }

            function hide_initial_status() {
                document.getElementById("initial_status_section").classList.add("d-none");
                document.getElementById("main").classList.remove("d-none");
            }

            function interact() {
                var other_guy = document.getElementById("qr_entry").value;
                room.send("interact", {sessionId: other_guy })
                document.getElementById("qr_entry").value = "";
            }

            function recreateRooms(){

                numRooms = localStorage.getItem("numberRooms");

                if(numRooms == null)
                    return;
                // Show the number of status rooms
                d = document.getElementById("status-rooms");
                d.innerHTML = "";

                console.log(numRooms);
                for (let r=0; r< numRooms; r++){
                    console.log(r);
                    b = document.createElement("button");
                    b.setAttribute("type", "button");
                    b.classList.add("btn");
                    b.classList.add("btn-success");

                    b.classList.add("m-2");
                    b.setAttribute("id", `room-${r}`)
                    b.addEventListener("click", function(){
                        checkstatus(r);
                    });
                    b.innerText = (r+1);
                    d.appendChild(b);
                }
            }

            function updateAllRooms(rooms){
                console.log("update all rooms");
                rooms.forEach( (v,i) => {
                    if(v != "-1"){ //if the room is occupied
                        if(v != localStorage.getItem("sessionId") ){ //by someone other than me
                            document.getElementById(`room-${i}`).setAttribute("disabled", true); //disabled it
                        }
                    } else{
                            document.getElementById(`room-${i}`).removeAttribute("disabled");               
                    }
                });

            }
            // Update the room that you are in
            function updateRooms(enteredRoom){
                var r = localStorage.getItem("inRoom");
                if(r == null)
                    return;

                if(enteredRoom){
                    document.getElementById(`room-${r}`).classList.remove("btn-success");
                    document.getElementById(`room-${r}`).classList.add("btn-primary");
                } else {
                    document.getElementById(`room-${r}`).classList.add("btn-success");
                    document.getElementById(`room-${r}`).classList.remove("btn-primary");
                    localStorage.removeItem("inRoom"); //clear the room from storage
                }

            }
            

            function joinRoom (roomId) {

                // Check to see if the room id is in storage
                var roomId_s = localStorage.getItem("roomId");
                var sessionId = localStorage.getItem("sessionId");

                console.log("roomId in storage is: " + roomId_s);

                // If so, try to reconnect
                if (roomId == roomId_s){
                    console.log("room id was found in storage, attempting reconnect");
                    
                    client.reconnect(roomId, sessionId).then(room_instance => {
                        room = room_instance;

                        localStorage.setItem("roomId", room.id);
                        localStorage.setItem("sessionId", room.sessionId);
                        sessionId = room.sessionId;

                        console.log("reconnected successfully");

                        this.recreateRooms();

                        // Listen to patches from server
                        room.onStateChange((state) => {
                            console.log("the room state has been updated:", state);
                            if (state.gameState == "started"){
                                // change the waiting for game to start to hidden
                                document.getElementById("waiting_message").classList.add("d-none");

                                var infected = (room.state.players.get(sessionId).infected == 1);
                                console.log(infected);
                                // Show the initial status
                                document.getElementById("initial_status").innerText = infected?"INFECTED":"NORMAL";
                                document.getElementById("initial_status_section").classList.remove("d-none");

                                localStorage.setItem("numberRooms", state.startingRooms);
                                this.recreateRooms();
                                
                            }
                            if (state.gameState == "inProgress"){
                                // handle reconnect
                                document.getElementById("waiting_message").classList.add("d-none");
                                document.getElementById("initial_status_section").classList.add("d-none");
                                document.getElementById("main").classList.remove("d-none");
                                console.log(state.statusRooms);
                                this.updateAllRooms(state.statusRooms);
                            }

                        });

                        // Check your personal status
                        room.onMessage("checkstatus", (message) => {
                            // If a room is free
                            
                            if(message.inRoom){
                                this.inStatusRoom = true;
                                //document.getElementById("status-button").innerText = "Leave Status Room";
                                localStorage.setItem("inRoom", message.room);
                                this.message("You are in status room " + (message.room+1));
                                this.message(`Vaccines: ${message.status.vaccines}  Infected: ${message.status.infected==1}`);
                                this.updateRooms(true);
                                
                            }

                            if(message.failed){
                                this.message("you failed to get in a room");
                            }

                            if(message.leftRoom){
                                this.inStatusRoom = false;
                                this.message("you left a status room");
                                this.updateRooms(false);
                            }
                        })

                        room.onMessage("endGame", (message) => {
                            // Game ended
                            alert("Game ended!");
                            var t = document.createElement("table");                                
                            var players = message;
                            t.classList.add("table");
                            t.classList.add("m-3");

                            t.innerHTML = "<tr><th>Name</th><th>ID</th><th>Vaccines</th><th>Status</th></tr>";
                            players.forEach(p => {
                                var tr = document.createElement("tr");
                                tr.innerHTML = `<td> ${p.name} </td><td>${p.owner}</td><td> ${p.vaccines} </td><td> ${p.infected} </td>`;
                                t.appendChild(tr);
                            });

                            var fs = document.createElement("h2")
                            fs.innerText = "Final Score";
                            document.getElementById("messages").appendChild(fs);
                            document.getElementById("messages").appendChild(t);

                            var button = document.createElement("button");
                            button.classList.add("btn");
                            button.classList.add("btn-secondary");
                            button.classList.add("m-auto");
                            button.innerHTML = "Go back to Lobby";
                            document.getElementById("messages").appendChild(button);
                            button.addEventListener("click", function() {
                                window.location.href = "/lobby";
                            })

                            document.getElementById("main").classList.add("d-none");
                            
                        });

                        room.onMessage("interact", (message) => {
                            var m;
                            if(message.player1 == sessionId){
                                m = `${message.player2name}(${message.player2})`;
                            }
                            else if(message.player2 == sessionId){
                                m = `${message.player1name}(${message.player1})`;
                            } else return;
                            var p = document.createElement("p");
                            p.innerText = "You contacted " + m;
                            document.getElementById("messages").appendChild(p);
                        });

                        room.onMessage(sessionId, (message) => {
                            var p = document.createElement("p");
                            console.log(message)
                            p.innerText = message;
                            document.getElementById("messages").appendChild(p);
                        });


                    }).catch(e => {
                        console.log("Reconnect Failed");
                        console.error("Error", e);
                        alert("Reconnect Failed, redirecting back to lobby");
                        window.location.href = "/lobby";
                    });
                } else {
                    //If roomId is not in storage, try to join normally
                }

                console.log("Joined room")

            }

            function message(msg) {
                var p = document.createElement("p");
                p.innerText = msg;
                document.getElementById("messages").appendChild(p);
            }

            function reconnect(){
                try {
                    var roomId_s = localStorage.getItem("roomId");
                    joinRoom(roomId_s);
                } catch (e){
                    window.location.href = "/lobby";
                }

            }

            function populateElements(){
                var header = document.getElementById("sessionIdHolder").innerText = player_name + ":" + sessionId;
            }

            sessionId = localStorage.getItem("sessionId");
            player_name = localStorage.getItem("name");
            reconnect();
            populateElements();
        </script>
    </body>
    
</html>