<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <!-- colyseus.js client -->
        <script type="text/javascript" src="https://unpkg.com/colyseus.js@^0.14.0/dist/colyseus.js"></script>
    </head>
<body>
    <h1>Pandemic</h1>

    <div>Enter Name</div>

    
    <input type="text" id="name">
    <button type="button" class="btn btn-primary" onclick="findGames()">Find Games</button>

    <script>
        function findGames() {
            var name = document.getElementById("name").value;
            if (name.length < 1){
                throw new Error ("Name must be longer than 1");
            }
            localStorage.setItem("name", name);
            console.log(name);
            window.location.href = "/lobby";
        }

    </script>
</body>
</html>