<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <!-- colyseus.js client -->
        <script type="text/javascript" src="https://unpkg.com/colyseus.js@^0.14.0/dist/colyseus.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column">
        <h1 class="d-flex justify-content-center m-2"><a href="/lobby">Pandemic</a></h1>
        <h2 class="d-flex justify-content-center m-2"> Lobby Game</h2>
        <h3 class="m-3">All rooms:</h3>
        <table class="table table-hover m-3"> 
            <thead class="thead-light">
                <tr>
                    <th scope="col">Game name</th>
                    <th scope="col">Clients</th>
                    <th scope="col">Join</th>
                </tr>
            </thead>
            <tbody id="all_rooms"></tbody>
        </table>
        <div id="messages"></div>
        
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGameModal">
            Create New Game
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="createGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Game: Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Game Name</span>
                        </div>
                        <input type="text" class="form-control" id="game-name" aria-describedby="basic-addon3">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Password</span>
                        </div>
                        <input type="text" class="form-control" id="game-password" aria-describedby="basic-addon3">
                    </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createNewGame()">Create Game</button>
                </div>
            </div>
            </div>
        </div>





        <script>
            var host = window.document.location.host.replace(/:.*/, '');
            var client = new Colyseus.Client(location.protocol.replace("http", "ws") + "//" + host + (location.port ? ':' + location.port : ''));
            var lobby;
            var room;

            function createNewGame() {
                console.log("create new game");
                console.log(document.getElementById("game-name").value);
                console.log(document.getElementById("game-password").value);
                var gameName = document.getElementById("game-name").value;
                var gamePassword = document.getElementById("game-password").value;

                localStorage.setItem("gameName", gameName);
                localStorage.setItem("gamePassword", gamePassword);
                localStorage.removeItem("roomId");

                window.location.href = "/game_admin";

            }




            function interact() {
                var other_guy = document.getElementById("sessionid").value;
                room.send("interact", {sessionId: other_guy })
            }
            
            // Create or join the lobby to show all games
            function joinLobby () {
            // Logged into your app and Facebook.
            client.joinOrCreate("lobby").then(room_instance => {
                lobby = room_instance;
                onjoin();
    
            }).catch(e => {
                console.error("Error", e);
            });
            }
    
            function onjoin() {
                lobby.onMessage("rooms", (rooms) => {
                    allRooms = rooms;
                    update_full_list();
    
                    console.log("Received full list of rooms:", allRooms);
                });
    
                lobby.onMessage("+", ([roomId, room]) => {
                    const roomIndex = allRooms.findIndex((room) => room.roomId === roomId);
                    if (roomIndex !== -1) {
                        console.log("Room update:", room);
                        allRooms[roomIndex] = room;
    
                    } else {
                        console.log("New room", room);
                        allRooms.push(room);
                    }
                    update_full_list();
                });
    
                lobby.onMessage("-", (roomId) => {
                    console.log("Room removed", roomId);
                    allRooms = allRooms.filter((room) => room.roomId !== roomId);
                    update_full_list();
                });
    
                lobby.onLeave(() => {
                    allRooms = [];
                    update_full_list();
                    console.log("Bye, bye!");
                });
            }
    
            function update_full_list() {
            var el = document.getElementById('all_rooms');
            el.innerHTML = allRooms.map(function(room) {
                 return "<tr><td> " + room.metadata.name + " </td><td> " + room.clients + " </td><td> " +  
                 "<button type='button' id='"+room.roomId+"' class='btn btn-primary' onclick='joinRoom(this.id)' >Join Game</button> " +
                 "</tr>";
            }).join("\n");
    
            }

            function joinRoom (roomId) {

                // Check to see if the room id is in storage
                var roomId_s = localStorage.getItem("roomId");
                var sessionId = localStorage.getItem("sessionId");

                console.log("roomId in storage is: " + roomId_s);

                // If so, try to reconnect
                if (roomId == roomId_s){
                    console.log("room id was found in storage - attempting reconnect");
                    

                    client.reconnect(roomId, sessionId).then(room_instance => {
                        room = room_instance;

                        localStorage.setItem("roomId", room.id);
                        localStorage.setItem("sessionId", room.sessionId);

                        console.log("reconnected successfully");
                        window.location.href = "/game";
                    }).catch(e => {
                        console.log("Reconnect Failed - attempting to join with new session");
                        console.error("Error", e);
                        joinById( roomId);
                    });
                } else {
                    //If roomId is not in storage, try to join normally
                    joinById (roomId);
                }

                console.log("Something went wrong");

                

            }

            function joinById (roomId) {
                client.joinById(roomId, {playername: localStorage.getItem("name")} ).then(room_instance => {
                    
                    console.log("joined succesfully", room_instance);
                    room = room_instance;

                    localStorage.setItem("roomId", room.id);
                    localStorage.setItem("sessionId", room.sessionId);
                    console.log("new session id is: " + room.sessionId);
                    window.location.href = "/game";
                }).catch(e => {
                    console.error("join error", e);
                });
            }
            
            function leaveGame () {
                room.leave();
            }
            function leave() {
            if (lobby) {
                lobby.leave();
    
            } else {
                console.warn("Not connected.");
            }
            }

            joinLobby();
        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    
</html>